@import "open-props/style";
@import "open-props/normalize";

:root {
  --brightBlue: #55c2ff;
  --roseRed: #a10000;
  --motelLight: #fff7dc;
  --midnight: #111315;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
