// -----------------------
// ---- LANDING PAGE -----
// -----------------------

.main {
  height: 120vh;
  display: flex;
  flex-flow: column;
}

.titleContainer {
  background-image: url("../public/Screengrab_5.png");
  background-size: cover;
  background-position: -51rem;
  height: 100%;
  width: 100%;
}

#logLine {
  grid-area: log-line;

  p {
    margin-left: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }
}
#directorStatement {
  grid-area: directors-statement;

  h2,
  p {
    margin-left: 0 !important;
    padding-left: 0;
    padding-right: 0;
  }
}
#poster {
  grid-area: poster;
  aspect-ratio: 15/22;
}

.logLineContainer {
  width: 85%;
  margin-inline: auto;
  display: grid;
  grid-template-areas:
    "log-line"
    "poster"
    "directors-statement";
}

.poster {
  width: 100%;
  margin-top: 4rem;
  margin-inline: auto;
  background-image: url("../public/official-poster.png");
  background-size: contain;
  aspect-ratio: var(--ratio-portrait);
}

.title {
  color: var(--brightBlue);
  font-family: "Pinyon Script", cursive;
  font-size: 2rem;
  padding-left: 2rem;
  padding-top: 3.5rem;
}

.specialThanksText {
  line-height: 1.75rem;
  max-inline-size: none;
}

.credits {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.footer {
  background-color: var(--midnight);
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--brightBlue);
  padding-left: 2rem;
  padding-right: 3rem;
  padding-block: 4rem;

  h2 {
    color: var(--brightBlue);
    font-family: "Ramaraja", serif;
    margin-bottom: 2rem;
  }
}

.footerContent {
  margin-block: 4rem;
}
.footerLogo {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  a {
    color: white;
    text-decoration: underline;
  }
  img {
    width: 36px;
    aspect-ratio: var(--ratio-square);
    margin-top: 3em;
  }
}

// ----------------
// ---- PANES -----
// ----------------

.pane {
  padding-block: 10rem;
  display: grid;

  h2 {
    font-family: "Ramaraja", serif;
    padding-left: 2rem;
  }

  p {
    font-family: "Epilogue", sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    padding-left: 2rem;
    padding-right: 3rem;
  }

  .paneTextContainer {
    display: flex;
    flex-flow: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  .paneTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .profilePicture {
    position: relative;
    width: 80%;
    margin-left: 2rem;
    margin-block: 4rem;

    img {
      aspect-ratio: var(--ratio-square);
      object-fit: cover;
      width: 100%;
    }
  }
}

// TAN
.pane:nth-of-type(even) {
  background-color: var(--motelLight);
  color: var(--roseRed);

  h2 {
    color: var(--roseRed);
  }

  .showMore {
    background-color: var(--roseRed);
    color: white;
  }
}

// DARK
.pane:nth-of-type(odd) {
  background-color: var(--midnight);
  color: var(--brightBlue);

  h2 {
    color: var(--brightBlue);
  }
  .showMore {
    background-color: var(--brightBlue);
    color: var(--midnight);
  }
}

.nonBioTitle {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.showMore {
  border-radius: 6px;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  margin-right: calc(20% - 2rem);
}

// ---------------
// TABLET --------
// ---------------

@media screen and (min-width: 670px) {
  .titleContainer {
    background-image: url("../public/Screengrab_5.png");
    background-position: -30rem;
  }

  #logLine {
    margin-bottom: 5rem;

    p {
      // margin-left: 0 !important;
      padding-left: 0 !important;
    }
  }
  #directorStatement {
    h2 {
      margin-top: 0;
    }
  }

  .logLineContainer {
    width: 85%;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "log-line log-line"
      "directors-statement poster";
    // padding-right: 3rem;
    margin-inline: auto;

    p {
      max-inline-size: none;
    }
  }

  .specialThanksText {
    width: 85%;
    margin-inline: auto;
  }

  .credits {
    margin-inline: auto;
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }

  .poster {
    width: 100%;
    margin-top: 0;

    background-image: url("../public/official-poster.png");
    background-size: cover;
  }

  // ---------------
  // DESKTOP BIO ---
  // ---------------
  .desktopBio {
    display: grid;
    grid-template-columns: 1fr !important;
    row-gap: 8rem;

    .profilePicture {
      margin-left: 0;
    }
  }

  .horizontalBio {
    width: 90%;
    margin-inline: auto;

    .paneTextContainer {
      width: 100% !important;
      display: grid !important;
      align-items: flex-start;
      grid-template-columns: 4fr 5fr;
    }

    .profilePicture {
      margin: 0 !important;
    }

    h2 {
      margin-bottom: 1rem;
    }

    h2,
    p {
      margin-left: 0 !important;
    }
  }

  .nonBioTitle {
    margin-left: calc(20% - 2rem);
  }

  .pane {
    .paneTitle {
      margin-left: calc(15% - 2rem);
    }

    .profilePicture {
      width: 100%;
      margin-left: 15%;
    }

    p {
      margin-left: calc(20% - 2rem);
    }
  }
}

// ---------------
// LAPTOP --------
// ---------------

@media screen and (min-width: 1024px) {
  .titleContainer {
    background-image: url("../public/Screengrab_5.png");
    background-position: -15rem;
  }

  .specialThanksText {
    width: 85%;
  }

  .credits {
    grid-template-columns: repeat(3, 1fr);
  }

  .desktopBio {
    grid-template-columns: repeat(2, 1fr) !important;

    .paneTextContainer {
      grid-template-columns: 3fr 5fr;
    }
  }

  #logLine {
    margin-bottom: 3rem;

    p {
      // margin-left: 0 !important;
      padding-left: 0 !important;
    }
  }
  #directorStatement {
    h2 {
      margin-top: 0;
    }
  }

  .logLineContainer {
    width: 85%;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "log-line log-line"
      "poster directors-statement";
    // padding-right: 3rem;
    margin-inline: auto;

    p {
      max-inline-size: none;
    }
  }

  .poster {
    width: 100%;
    margin-top: 0.25rem;
    background-image: url("../public/official-poster.png");
  }

  .nonBioTitle {
    margin-left: calc(30% - 2rem);
  }

  .pane {
    .paneTitle {
      margin-left: calc(25% - 2rem);
    }

    .profilePicture {
      width: 100%;
      margin-left: 25%;
    }

    p {
      margin-left: 35%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .titleContainer {
    background-position: -10rem;
  }
}

// ---------------
// LARGE-LAPTOP --
// ---------------
@media screen and (min-width: 1440px) {
  .titleContainer {
    // background-image: url("../public/Screengrab_5.png");
    background-position: -5rem;
  }

  #directorStatement {
    h2,
    p {
      margin-left: 0 !important;
      padding-left: 0rem !important;
    }
  }

  .logLineContainer {
    width: 60%;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "poster log-line"
      "poster directors-statement";
  }

  .desktopBio {
    grid-template-columns: repeat(2, 1fr) !important;

    .paneTextContainer {
      grid-template-columns: 4fr 5fr;
    }
  }
}
